html, body, div, span, applet, object, iframe,
h1, h2, h3, h1, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    vertical-align: baseline;
}

h1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17.5px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
}
pre {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
    color:black;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.full-width{
    width:100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.display-none {
    display: none;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

.v-top {
    vertical-align: top;
}

.top-header-section {
    padding: 3px 0 16px 0;
}

.top-header {
    display: inline-block;
    vertical-align: middle;
}

.search-container {
    margin-right: 21px;
}

.search-container .search-input {
    width: 200px;
    height: 24px;
    line-height: 22px;
    font-size: 17px;
    border: 1px solid transparent;
    padding: 1px 2px;
    outline: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    box-sizing: border-box;
}

.search-container .search-input:focus {
    border: 1px solid #b92323;
}

#search-button {
    width: 27px;
    height: 27px;
    border: none;
    display: inline-block;
    border-radius: 4px;
    background: #b92323;
    color: white;
    text-align: center;
    line-height: 27px;
    font-size: 18px;
}

.top-header-right {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sign-container {
    padding-right: 10px;
}

.language-switcher {
    padding-left: 10px;
    border-left: 1px solid #9a9696;
    color: #b92323;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sign-container a {
    color: #b92323;
    text-decoration: none;
}

.nav-bar {
    background: #b92323;
}

.sub-nav ul,
.nav-bar ul {
    list-style-type: none;
}

.nav-bar ul li {
    display: inline-block;
    padding: 10px 0;
    color: white;
    margin-top: -1px;
}

.nav-bar ul li:hover,
.nav-bar ul li.active {
    background: #ffffff;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}

.nav-bar ul li:hover::before,
.nav-bar ul li.active::before {
    content: '';
    width: 100%;
    top: 0;
    right: 8px;
    z-index: -1;
    height: 100%;
    position: absolute;
    background: #ffffff;
    -webkit-transform: skew(3deg);
    -moz-transform: skew(3deg);
    -ms-transform: skew(3deg);
    -o-transform: skew(3deg);
    transform: skew(3deg);
}

.nav-bar ul li:hover a,
.nav-bar ul li.active a {
    color: #b92323;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    border: none;
}

.nav-bar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0 9px;
    border-right: 1px solid #ffffff;
}

.nav-bar ul li:last-child a {
    border: none;
}

.sub-nav ul li {
    display: inline-block;
    padding: 10px 0;
    margin-top: -1px;
}

.sub-nav ul li:first-child a {
    padding-left: 7.5px;
}

.sub-nav ul li:last-child a {
    border: none;
}

.sub-nav ul li.active a,
.sub-nav ul li:hover a {
    color: #b71c1c;
    cursor: pointer;
}

.sub-nav ul li a {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    color: #9d9d9d;
    border-right: 1px solid #9d9d9d;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
}

.sub-nav ul li a span {
    display: block;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}

.navigation {
    margin-bottom: 38px;
}

.section-header {
    margin-bottom: 24px;
}

.section-header li {
    display: inline-block;
    padding: 10px 0;
}

.section-header li a {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    color: #9d9d9d;
    border-right: 1px solid #9d9d9d;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);

}

.section-header.header-secondary li a {
    color: #ffffff;
}

.section-header li a .section-header-item-span {
    display: block;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -ms-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
}

.section-header li:first-child {
    width: 19.6%;
    padding-left: 10px;
    background: #b71c1c;
    color: white;
    position: relative;
    margin-right: 20px;
}

.section-header.header-secondary li:first-child {
    background: #546e7a;
}

.section-header li:last-child a {
    border-right: none;
}

.section-header li:not(:first-child).active a,
.section-header li:not(:first-child):hover a {
    color: #b71c1c;
    cursor: pointer;
}

.section-header li:first-child::after {
    content: '';
    width: 20px;
    top: 0;
    left: 100%;
    height: 100%;
    position: absolute;
    background: #b71c1c;
    -webkit-transform: skew(-30deg) translateX(-50%);
    -moz-transform: skew(-30deg) translateX(-50%);
    -ms-transform: skew(-30deg) translateX(-50%);
    -o-transform: skew(-30deg) translateX(-50%);
    transform: skew(-30deg) translateX(-50%);
}

.section-header.header-secondary li:first-child::after {
    background: #546e7a;
}

.content-item {
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    margin-bottom: 50px;
    position: relative;
}

.content-item img {
    width: 100%;
}

.feature-first .content-item {
    width: calc(50% - 12px);
    margin-right: 12px;
}

.feature-first .content-item:nth-child(2) {
    margin-left: 8px;
    margin-right: 0;
}

.feature-first .content-item:nth-child(3),
.feature-first .content-item:nth-child(6) {
    width: calc(33% - 12px);
    margin-right: 12px;
    margin-left: -4px;
}

.feature-first .content-item:nth-child(4),
.feature-first .content-item:nth-child(7) {
    width: calc(33% - 12px);
    margin-right: 12px;
    margin-left: 8px;
}

.feature-first .content-item:nth-child(5),
.feature-first .content-item:nth-child(8) {
    width: calc(33% - 12px);
    margin-left: 8px;
    margin-right: 0;

}

.content-item h1 {
    font-size: 18px;
    margin: 5px 0;
}

.content-item h1 a {
    text-decoration: none;
    color: #000;
}

.content-item p {
    font-size: 14px;
    margin: 5px 0;

}

.content-categories-info-divider {
    margin: 0 11px;
}

.diamond-divider {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-bottom: 5px solid #888888;
    position: relative;
    top: -12px;
}

.diamond-divider:after {
    content: '';
    position: absolute;
    left: -3px;
    top: 19px;
    width: 0;
    height: 0;
    border: 3px solid transparent;
    border-top: 5px solid #888888;
}

.content-info {
    color: #9d9d9d;
    font-size: 12px;
    padding-top: 6px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.content-info .linked-info,
.content-info > .linked-info,
.content-info a .linked-info,
.content-info .linked-info a {
    color: #b71c1c;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.content-info .linked-info::after {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #b71c1c;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.content-info .linked-info:hover::after {
    width: 100%;
}

.content-info .linked-info:hover {
    cursor: pointer;
}

.color-main {
    color: #b71c1c;
}

.content-info-divider {
    display: inline-block;
    width: 1px;
    height: 16px;
    margin: 0 9px;
    vertical-align: middle;
    background: #888888;
}

.section-secondary {
    background: #263238;
    padding: 24px 0;
}

.factoids {
    margin-bottom: 38px;
}

.factoids-content .factoid-socials {
    width: 16%;
}

.factoids-content .factoid-socials i {
    color: #263238;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #ffffff;
    margin-right: 24px;
}

.factoids-content .factoid-socials:hover i {
    color: #b71c1c;
}

.factoids-content p {
    width: 68%;
    text-align: center;
    color: white;
    margin-bottom: 22px;
}

.factoids-content button {
    display: block;
    padding: 12px 16px;
    margin: 0 auto;
    background: #546e7a;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/*
*
* Second Feature Styles
*
*/

.feature-second .content-item:first-child .inner-content-wrapper {
    background: rgba(0, 0, 0, .65);
    padding: 10px;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: calc(100% - 20px);
}

.feature-second .content-item:first-child img {
    width: 100%;
}

.feature-second .content-item:first-child .inner-content-wrapper span,
.feature-second .content-item:first-child .inner-content-wrapper h1,
.feature-second .content-item:first-child .inner-content-wrapper h1 a,
.feature-second .content-item:first-child .inner-content-wrapper p {
    color: white;
}

.feature-second .content-item:not(:first-child) {
    width: calc(50% - 12px);
}

.feature-second .content-item:nth-child(2n) {
    margin-right: 12px;
}

.feature-second .content-item:nth-child(2n + 1):not(:first-child) {
    margin-left: 8px;
}

/*
*
* End Of second Feature Styles
*
*/
/*
*
* Third Feature Styles
*
*/

.feature-third .block-content-wrapper,
.feature-third .content-item {
    width: calc(33% - 20px);
    display: inline-block;
}

.content-header-shaped {
    width: 100%;
    border-top: 1px solid #b71c1c;
    text-align: center;
    overflow: hidden;
}


.content-header-shaped h1 {
    display: inline-block;
    padding: 4px 147px;
    border-bottom: 1px solid #b71c1c;
    font-size:16px;
    position: relative;
    color:#b71c1c;
}

.content-header-shaped h1::before {
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    height:400%;
    width:50px;
    background: transparent;
    border-left: 1px solid #b71c1c;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.content-header-shaped h1::after {
    content: '';
    position: absolute;
    bottom:0;
    right:0;
    height:400%;
    width:50px;
    background: transparent;
    border-right: 1px solid #b71c1c;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: bottom right;
}


.content-header-shaped:hover h1 {
    color:white;
    background: #b71c1c;
    cursor: pointer;
}
.content-header-shaped:hover h1::before {
    background: #b71c1c;
}
.content-header-shaped:hover h1::after {
    background: #b71c1c;
}

.feature-third .content-item:nth-child(1) {
    margin-right: 10px;
}

.feature-third .content-item:nth-child(2) {
    margin-left: 8px;
}

.feature-third .block-content-wrapper .content-item {
    width: 100%;
    margin-left: 10px;
}

.feature-third .chinese-food-header {
    text-align: center;
    line-height: 60px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.feature-third .chinese-food-header:hover {
    color: #b71c1c;
}

.feature-third .chinese-food-header::after {
    content: '';
    position: absolute;
    width: 13%;
    height: 1px;
    top: 78%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #b71c1c;
}
.more-entries{
    width:152px;
    height:30px;
    border: 1px solid #b71c1c;
    border-radius:2px;
    color: #b71c1c;
    background: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.more-entries:hover{
    background: #b71c1c;
    color: #ffffff;

}
.more-entries-button-container{
    margin: 33px auto;
    text-align: center;
}
/*
*
* End Of Third Feature Styles
*
*/
.zodiac-content-container{
    margin-top:24px;
}

.horoscope-column-two,
.horoscope-column-one{
    width:calc(50% - 12px);
    margin-left:-4px;
    display: inline-block;
    vertical-align: top;
}
.horoscope-column-one{
    margin-right:12px;
}
.horoscope-column-two{
    margin-left:8px;
}
.horoscope-article-content-container h1{
    font-size:18px;
}
.monthly-horoscope-read-more{
    color:#b71c1c;
    white-space:nowrap;
}


.horoscope-article-content-container p .monthly-horoscope-read-more:hover{
    color:#b71c1c;
}
.horoscope-article-content-container h1 span{
    color:#78909c;
}
.horoscope-single-item-image-container{
    width: 180px;
    height:182px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: top;

}
.horoscope-single-item-content-wrapper{
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    width: calc(100% - 209px);
}
.horoscope-single-item-content-wrapper h1{
    margin-top:0;
    line-height:18px;
    margin-bottom:12px;
}
.horoscope-filter-column-one,
.horoscope-filter-column-two{
    width:calc(50% - 17px);
}
.search-horoscope-inputs{
    margin-bottom:25px;
}
.search-horoscope-inputs select{
    border:none;
    background: #f8f8f8;
    color:#8c8c8c;
    padding: 8px 11px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    font-size:14px;
    outline: none;

}
.horoscope-filter-button{
    border:none;
    background: #b71c1c;
    color: #ffffff;
    font-size:14px;
    display: inline-block;
    border-radius:3px;
    padding: 8px 11px;
    margin-left: 9px;
    position: relative;
    outline: none;
}
.horoscope-filter-input-wrapper{
    position: relative;
    width:80%;
    display: inline-block;
}
.search-horoscope-inputs .horoscope-filter-input-wrapper::after{
    content:'';
    position: absolute;
    right:10px;
    top:10px;
}
.search-horoscope-inputs .dropdown-ul{
    height:120px;
    background: #f8f8f8;
}
.dropdown-ul li{
    padding:6px 4px;
}
.select2-container--default .select2-selection--single{
    border: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #f8f8f8;
    border:none;
    padding-top:4px;
    padding-bottom:4px;
    outline:none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:35px;
}
.underline-header{
    text-align: center;
    line-height: 60px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
.underline-header::after{
    content: '';
    position: absolute;
    width: 13%;
    height: 1px;
    top: 78%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #b71c1c;
}

.underline-header--linked:hover,
.underline-header--linked:hover a{
    color: #b71c1c;
}
.horoscope-filter-column-one,
.horoscope-filter-column-two{
    display: inline-block;
}
.horoscope-filter-column-one {
    margin-right:14px;
    vertical-align: top;
}
.horoscope-filter-column-two {
    margin-left:14px;
    vertical-align: top;
}
.horoscope-filter-column-two fieldset{
    display: inline-block;
    vertical-align: bottom;
}
.horoscope-filter-column-two fieldset label{
    display: block;
    padding: 10px 0;
}
.horoscope-filter-column-two .underline-header{
    line-height: 19px;
    padding-bottom: 16px;
    font-size: 16px;
}
.horoscope-filter-column-two .horoscope-filter-button{
    margin-bottom:-6px;
}
.horoscope-filter-column-two .you-are-text{
    margin-top: 25px;
}
.horoscope-filter-column-two .you-are-text span{
    color:#b71c1c;
}
.which-animal-day{
    width:55px;
}
.which-animal-month{
    width:85px;

}
.which-animal-year{
    width:65px;

}
.horoscope-single-item{
    margin-bottom:25px;
}
.horoscope-search-form-container{
    padding-top:25px;
    margin-bottom:25px;
    border-top:1px solid #000000;
}